* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(./images/arkaplan.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.title-searh {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.input-search {
  margin-top: 30px;
}

.input-search input {
  font-family: Arial, Helvetica, sans-serif;
  width: 230px;
  border: 0;
  outline: 0;
  border-bottom: 1px solid lightgray;
  padding: 5px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgray;
  flex-direction: column;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.allPage {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
